#
# 
# Copyright (c) 2012-2015 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#

#
# Predix Machine - 16.2.2
#
# Configuration properties for the HTTP Proxy Configuration Service - provided as part of Apache HttpCompenents OSGi Bundle
#
# Service_PID = org.apache.http.proxyconfigurator
#

# Usage: 
# 
#       Properties set in this file should use the short property
#       name beginning with proxy. For example:
#                  
#             proxy.<property_key>=<property_value>



# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#	Blank property names must be indicated with two double quotes
#	to indicate an empty string.
#
# Format: 
#       type character followed by a quoted string representation of value. 
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"]. 
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.



# The network name of the proxy host.
proxy.host="proxy-src.research.ge.com"

# The port on the proxy server where the proxy service is available
proxy.port=I"8080"

# Whether the proxy settings are enabled. This is only a hint to the using
# services set by admin. It has no bearing on the actual server's availability 
proxy.enabled=B"true"

# A list of server names, ip addresses or domains, for which a proxy is NOT needed for access.
# Domain names in the exception list start with the dot. e.g. .server.company.com
proxy.exceptions=[ \
  "localhost", \
  "127.0.0.1", \
  ]

# The user name for authenticating into the proxy server if required
proxy.user=""

# The password for the proxy server
proxy.password=""
